//basic
$color-primary-1: #212325;
$color-primary-2: #f0f0f0;
$color-primary-3: #bcbcbc;
$color-primary-4: #5b5b5b;

//highlight
$color-secondary-1: rgb(230, 111, 111);

//cursor
$color-tertiary-1: rgb(249, 226, 95);