.about {
  &__container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  &__header {
    font-size: 1rem;
    letter-spacing: 0.3vw;
    text-transform: uppercase;
    margin-bottom: 2.8vw;

    @include respond(-smallest) {
      margin-bottom: 4vw;
    }
  }

  &__content {
    word-break: break-all;
  }

  &__text-1 {
    font-size: 1.5vw;
    margin-bottom: 1.8vw;
    letter-spacing: 0.1vw;
    font-weight: 400;
    line-height: 1.6;
    color: $color-primary-1;

    @include respond(-large) {
      font-size: 1.55vw;
    }

    @include respond(-medium) {
      font-size: 1.75vw;
    }

    @include respond(-small) {
      font-size: 2vw;
    }

    @include respond(-smaller) {
      font-size: 2.5vw;
    }

    @include respond(-smallest) {
      font-size: 3.5vw;
      margin-bottom: 3vw;
    }

    @include respond(-mini) {
      font-size: 4.5vw;
    }
  }

  &__text-2 {
    font-size: 1.2vw;
    letter-spacing: 0.05vw;
    line-height: 1.6;
    color: $color-primary-4;

    @include respond(-large) {
      font-size: 1.25vw;
    }

    @include respond(-medium) {
      font-size: 1.45vw;
    }

    @include respond(-small) {
      font-size: 1.7vw;
    }

    @include respond(-smaller) {
      font-size: 2.2vw;
    }

    @include respond(-smallest) {
      font-size: 3.2vw;
    }

    @include respond(-mini) {
      font-size: 4.2vw;
    }

    &:not(:last-child) {
      margin-bottom: 1.2vw;
    }
  }
}