.navbar__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  position: relative;
  font-weight: 500;
  font-size: 1.7rem;

  & p {
    position: absolute;
    left: 0;
  }

  & a {
    text-decoration: none;
    color: $color-primary-1;

    &:not(:last-child){
      margin-right: 2rem;
    }
  }
}