.project {
  &__container {
    display: flex;
    flex-direction: column;
    margin: 7.6vw 7vw 0rem 7vw;

    @include respond(-medium) {
      margin: 7.6vw 4vw 0rem 4vw;
    }

    @include respond(-small) {
      margin: 7.6vw 0 0 0;
    }

    @include respond(-smaller) {
      margin: 10vw 0 0 0;
    }

    @include respond(-smallest) {
      margin: 13.5vw 0 0 0;
    }
  }

  &__header {
    font-size: 1rem;
    letter-spacing: 0.3vw;
    text-transform: uppercase;
    align-self: flex-start;
    margin-bottom: 2.8vw;

    @include respond(-smallest) {
      margin-bottom: 6vw;
    }
  }

  &__projects {
    display: flex;
    flex-direction: column;
  }

  &__project {
    display: grid;
    grid-template-columns: 32vw 25vw;
    grid-template-rows: auto;
    justify-content: space-between;

    @include respond(-medium) {
      grid-template-columns: 35.5vw 28.5vw;
    }

    @include respond(-small) {
      grid-template-columns: 48vw 32vw;
    }

    @include respond(-smaller) {
      grid-template-columns: 50vw 30vw;
    }

    @include respond(-smallest) {
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-row-gap: 5vw;
    }

    &:not(:last-child) {
      margin-bottom: 4.2vw;

      @include respond(-large) {
        margin-bottom: 4.8vw;
      }

      @include respond(-medium) {
        margin-bottom: 5.5vw;
      }

      @include respond(-small) {
        margin-bottom: 6vw;
      }

      @include respond(-smaller) {
        margin-bottom: 7vw;
      }

      @include respond(-smallest) {
        margin-bottom: 12vw;
      }
    }
  }

  &__pic {
    width: 100%;
    align-self: center;
    justify-self: flex-end;

    @include respond(-medium) {
      width: 28.5vw;
    }

    @include respond(-small) {
      width: 32vw;
    }

    @include respond(-smaller) {
      width: 30vw;
    }

    @include respond(-smallest) {
      width: 100%;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      &:hover {

        cursor: pointer;
      }
    }
  }

  &__intro {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content auto auto;
    align-items: center;
    grid-row-gap: 0.9vw;

    @include respond(-smallest) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      grid-row-gap: 3vw;
    }

    & h5 {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      color: $color-primary-2;

      font-size: 1.5vw;
      letter-spacing: 0.1vw;
      font-weight: 400;
      margin-bottom: 1vw;

      @include respond(-large) {
        font-size: 1.55vw;
      }

      @include respond(-medium) {
        font-size: 1.75vw;
      }

      @include respond(-small) {
        font-size: 2vw;
      }

      @include respond(-smaller) {
        font-size: 2.5vw;
      }

      @include respond(-smallest) {
        font-size: 3.5vw;
      }

      @include respond(-mini) {
        font-size: 4.5vw;
      }

      & span {
        letter-spacing: 0;
      }
    }

    & ul {
      line-height: 1.5;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    & li {
      color: $color-primary-2;
      list-style-position: inside;
      list-style-type: circle;

      font-size: 1.2vw;
      letter-spacing: 0.05vw;
      line-height: 1.7;
      color: $color-primary-3;

      @include respond(-large) {
        font-size: 1.25vw;
      }

      @include respond(-medium) {
        font-size: 1.45vw;
      }

      @include respond(-small) {
        font-size: 1.7vw;
        line-height: 1.8;
      }

      @include respond(-smaller) {
        font-size: 2.2vw;
      }

      @include respond(-smallest) {
        font-size: 3.2vw;
        line-height: 1.9;
      }

      @include respond(-mini) {
        font-size: 4.2vw;
      }
    }
  }

  &__btns {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    margin-top: 1.5vw;

    & div {
      background-color: $color-primary-2;
      cursor: pointer;
      border-radius: 1em;
      border: 2px solid transparent;
      color: $color-primary-1;
      padding: 0.1vw 0.6vw;

      @include respond(-medium) {
        padding: 0.1vw 0.8vw;
      }

      @include respond(-smaller) {
        padding: 0.1vw 1.2vw;
      }

      @include respond(-smaller) {
        padding: 0.1vw 1.4vw;
      }

      @include respond(-smallest) {
        padding: 0.5vw 1.8vw;
      }

      &:hover {
        border: 2px solid $color-primary-2;
        background-color: $color-primary-1;
        color: $color-primary-2;
      }
    }

    & a {
      text-decoration: none;
      font-weight: 400;
      font-size: 1vw;
      letter-spacing: 0.1vw;

      @include respond(-large) {
        font-size: 1.2vw;
      }

      @include respond(-medium) {
        font-size: 1.4vw;
      }

      @include respond(-small) {
        font-size: 1.6vw;
      }

      @include respond(-smaller) {
        font-size: 2vw;
      }

      @include respond(-smallest) {
        font-size: 2.8vw;
      }

      @include respond(-mini) {
        font-size: 3.8vw;
      }

      &:not(:last-child) {
        margin-right: 1vw;

        @include respond(-small) {
          margin-right: 1.8vw;
        }

        @include respond(-smaller) {
          margin-right: 2.2vw;
        }

        @include respond(-smallest) {
          margin-right: 3.5vw;
        }
      }
    }
  }
}