.work__container {
  margin-top: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work__header {
  margin-bottom: 6rem;
  line-height: 1.7;
  letter-spacing: 7px;
}

.work__background {
  display: flex;
  align-items: center;
  color: $color-primary-1;
  padding: 5%;
  margin: 0 -15px;
  mix-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 160vh;
  background: $color-primary-2;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 50%;
}