@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif; }

body {
  font-size: 2.2rem;
  background-color: #C1C8EB;
  color: #050C32;
  transition: 0.3s all; }

.app__wrapper {
  position: relative; }

.smile {
  position: absolute;
  left: 2rem;
  top: 85vh;
  width: 6rem;
  height: 6rem;
  fill: #050C32;
  animation: spin 6s linear infinite; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

.app__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 75vw;
  left: 50%;
  transform: translateX(-50%); }

.btn {
  position: fixed;
  right: 0;
  top: 40vh;
  width: 5rem;
  height: 15rem;
  background-color: #050C32;
  color: #C1C8EB;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  border-top: 2px solid #C1C8EB;
  border-left: 2px solid #C1C8EB;
  border-bottom: 2px solid #C1C8EB; }
  .btn svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: #C1C8EB;
    margin-bottom: 5rem; }

.bgcolor__black {
  background-color: #050C32;
  color: #C1C8EB; }

.marquee {
  height: 25px;
  width: 420px;
  overflow: hidden;
  position: relative; }

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  color: yellow;
  position: absolute;
  overflow: hidden;
  animation: marquee 9s linear infinite; }

.marquee span {
  float: left;
  width: 50%;
  text-decoration: underline; }

@keyframes marquee {
  0% {
    left: 0; }
  100% {
    left: -100%; } }

.cursors {
  position: relative; }

.cursors {
  pointer-events: none;
  position: absolute;
  transform-origin: center center;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 1000;
  filter: url("#goo"); }

.cursors div {
  position: absolute;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-color: #f9e25f;
  transform-origin: center center;
  transform: translate(-50%, -50%); }

.navbar__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  position: relative;
  font-weight: 500;
  font-size: 1.7rem; }
  .navbar__container p {
    position: absolute;
    left: 0; }
  .navbar__container a {
    text-decoration: none;
    color: #050C32; }
    .navbar__container a:not(:last-child) {
      margin-right: 2rem; }

.intro__container {
  position: relative;
  height: 90vh; }
  .intro__container img {
    width: 36rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; }

.intro__text {
  font-size: 3.2rem;
  line-height: 0.9;
  font-weight: 400;
  width: 80%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-70%);
  z-index: 50; }
  .intro__text span {
    text-decoration: underline;
    text-decoration-color: salmon;
    text-underline-offset: -0.4rem;
    text-decoration-thickness: 1rem; }

.about__container {
  display: grid;
  grid-template-columns: 20rem auto;
  margin-top: 7rem; }

.about__header {
  line-height: 1.7;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 3rem;
  font-weight: 400; }
  .about__header h4 {
    border: 4px solid #C1C8EB; }

.about__content {
  line-height: 1.5; }
  .about__content:first-letter {
    font-size: 190%;
    font-weight: bold;
    float: left;
    padding-right: 19px;
    line-height: 125%; }

.skill__container {
  display: grid;
  grid-template-columns: 20rem auto;
  margin-top: 10rem; }

.skill__header {
  line-height: 1.7;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 3rem;
  font-weight: 400; }
  .skill__header h4 {
    border: 4px solid #C1C8EB; }

.skill__collection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.4; }
  .skill__collection h4 {
    line-height: 2.8; }
  .skill__collection li {
    list-style: none; }

.work__container {
  margin-top: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.work__header {
  margin-bottom: 6rem;
  line-height: 1.7;
  letter-spacing: 7px; }

.work__background {
  display: flex;
  align-items: center;
  color: #050C32;
  padding: 5%;
  margin: 0 -15px;
  mix-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 160vh;
  background: #C1C8EB;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 50%; }

.contact__container {
  margin: 6rem 0; }
  .contact__container h1 {
    margin: 1rem 0; }

.footer__container {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #C1C8EB;
  padding: 4rem 0;
  font-weight: 500;
  font-size: 1.7rem; }
